*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(244, 244, 244);
}
header{
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    border-bottom: solid 5px rgb(18,147,212);
}
.titulo{
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 34.7%;
}
.t1{
    color: white;
}
.t2{
    color: rgb(18,147,212);
}
nav{
    width: 30%;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    width: 100%;
}
a{
    text-decoration: none;
    color: white;
}
.blue{
    color: rgb(18,147,212);
}
.imagen{
    background-image: url(../images/cabecera.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
    height: 450px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imagen h2{
    font-size: 60px;
}
.imagen p{
    width: 80%;
    font-size: 19px;
    margin-top: 20px;
    text-align: center;
}
.busqueda{
    background-color: #000;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.objetosBusqueda{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 80px;
}
input{
    height: 30px;
    width: 250px;
}
button{
    height: 30px;
    width: 100px;
    background-color: rgb(232,73,29);
    border: none;
    color: white;
}
.logos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cajalogos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}
.item{
    text-align: center;
    width: 30%;
    margin: 20px 0 20px 0;
}
.item img{
    width: 30%;
}
footer{
    background-color:rgb(18,147,212) ;
    height: 97px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*NOSOTROS*/
.cuerpoNosotros{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    align-items: flex-start;
}
.cajaNosotros{
    background-color: rgb(53,66,74);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 0;
}
.cuerpo{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1% 0 1% 0;
}
.cajaNosotros p{
    width: 95%;
}
.izquierda{
    width: 60%;
    padding: 2% 0 2% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.pocillo{
    width: 100%;
}
.derecha{
    padding: 1% 0 1% 0;
    width: 25%;
    background-color: rgb(53,66,74);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.cajalado{
    width: 90%;
    height: 11rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.cajalado p{
    width: 90%;
    padding: 1% 0 1% 0;
}

/*SERVICIOS*/

.cuerpoServicios{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
}
.izquierdas{
    width: 70%;
    padding: 2% 0 2% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contenidoS{
    background-color: rgb(230, 230,230);
    padding: 1% 0 1% 0;
    border: 3px solid rgb(225, 225, 225);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.separarborde{
    width: 90%;
}
.separarborde p{
    padding: 10px 0 10px 0;
}

/*CONTACTO*/
.cuerpoCont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
}
.izquierdac{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.enviar{
    background-color: rgb(232,74,29);
    width: 99%;
    color: white;
    border: 1px solid black;
}
.entradas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 33rem;
    
}
.ent1{
    width: 100%;
    height: 3rem;
}
.ent2{
    width: 100%;
    height: 10rem;
}

.derechac{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.cajaladoc{
    color: white;
    display: flex;
    background-color: rgb(53,66,74);
    align-items: center;
    justify-content: center;
    padding: 2% 0 2% 0;
    margin-bottom: 10px;
}
.letras{
    width: 90%;
    height: 12rem;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.cajaladoc .letras p{
    width: 90%;
    text-align: justify;
}
.imagen h2{
    text-align: center;
}
.mapa{
    padding: 10% 0 10% 0;
    width: 100%;
    height: 100%;
}
.map{
    height: 25rem;
}

@media (max-width: 1140px){
    .cajalogos{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 80%;
    }
    .logos{
        margin: 20px 0 20px 0;
    }
    .item{
        text-align: center;
        width: 30%;
    }
    .item img{
        width: 60%;
    }
    .item p{
        font-size: 150%;
    }
}
@media (max-width:1068px){
    header{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .titulo{
        font-size: 40px;
        flex-direction: row;
        width: 50%;
    }
    .t1{
        color: white;
    }
    .t2{
        color: rgb(18,147,212);
    }
    nav{
        width: 60%;
    }
    .item{
        width: 70%;
    }
    .item img{
        width: 40%;
    }
    .derecha{
        padding: 10% 0 10% 0;
        width: 25%;
        background-color: rgb(53,66,74);
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .izquierda p{
        padding: 2% 0 2% 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .cajaladoc{
        padding: 10% 0 10% 0;
    }

}
@media (max-width:834px){
    .titulo{
        font-size: 40px;
        flex-direction: row;
        width: 80%;
    }
    .cajaladoc{
        padding: 60% 0 60% 0;
    }
    .derecha{
        padding: 15% 0 15% 0;
        width: 25%;
        background-color: rgb(53,66,74);
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .cajaNosotros{
        padding: 10% 0 10% 0;
    }
    .cuerpoNosotros{
        font-size: 100%;
        padding: 5% 0 5% 0;
    }
    .cuerpo{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 5% 0 5% 0;
    }
}